* {
    padding: 0;
    margin: 0;
    transition-duration: 0.5s;
}
.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dice {
    margin-top: 30px;
    font-size: 7rem;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.roll-animation {
    animation-name: roll;
}

@keyframes roll {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(720deg) rotateX(720deg);
    }
}

button {
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #3c9fc8;
    border-radius: 10px;
}
button:hover {
    background-color: #317b9b;
}

ul#rolls-history {
    width: 70%;
    padding: 10px;
}
ul#rolls-history li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e8e8;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
ul#rolls-history li span {
    font-size: 2rem;
}
